* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --white: #ffffff;
    --white-smoke: #EDEDED;
    --blue: #0D6EFD;
    --black: #000000;
    --gray: #1B1F23;
    --smoke-gray :	#848884;
}

body {
    background-color: var(--white-smoke);
}

#side_nav {
    /* background: white; */
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.content {
    min-height: 100vh;
    width: 100%;
}

.dashboard-content {
    height: 87vh;
    overflow: auto;
}

/* Media Query for small screens */
@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0;
    }
}
